/* Container for the Call to Action (CTA) section */
.tech__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  padding: 2rem;
  margin: 4rem;
  border-radius: 1rem;
  background: var(--gradient-bar);
}

/* Content section within the CTA */
.tech__cta-content {
  display: flex;
  flex-direction: column;

  text-align: left;
  color: #fff;
}

/* Styling for the paragraph within the content */
.tech__cta-content p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 30px;
  font-weight: 500;
}

/* Styling for the heading within the content */
.tech__cta-content h3 {
  font-family: var(--font-family);
  font-size: 24px;
  line-height: 45px;
  font-weight: 800;
}

/* Styling for the button section within the CTA */
.tech__cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

/* Styling for the button itself */
.tech__cta-btn button {
  background: #000;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  padding: 0.5rem 1rem;
  border-radius: 2rem;

  border: none;
  outline: none;
  cursor: pointer;
  min-width: 150px;
}

/* Media query for smaller screens (maximum width: 650px) */
@media screen and (max-width: 650px) {
  .tech__cta {
    flex-direction: column;
  }

  /* Adjusting margin for the button section on smaller screens */
  .tech__cta-btn {
    margin: 2rem 0 0;
  }
}

/* Media query for even smaller screens (maximum width: 550px) */
@media screen and (max-width: 550px) {
  .tech__cta {
    flex-direction: column;
    margin: 4rem 2rem;
  }

  /* Adjusting font size and line height for the heading on smaller screens */
  .tech__cta-content h3 {
    font-size: 18px;
    line-height: 32px;
  }

  /* Adjusting font size and line height for the button on smaller screens */
  .tech__cta-btn button {
    font-size: 14px;
    line-height: 28px;
  }
}